$unit: 20px;

* {
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-family: monospace;
  font-size: 13px;
  line-height: 19px;
}

h1,
h2,
h3 {
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 $unit ($unit * 2);
  text-decoration: underline;
}

hr {
  margin: ($unit ) 0;
  border: none;
  height: 1px;
  background: #000;
}

pre {
  border: 1px solid;
  border-width: 0 0 0 1px;
  padding: 0 0 0 $unit;

  & > code { padding: 0; }
}

#content { margin: $unit; }
