$unit: 20px;

@mixin monospaceFont {
  font-family: monospace;
  font-size: 10pt;
  line-height: 1.25;
}

* {
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
  @include monospaceFont();
}

h1,
h2,
h3 {
  font-size: 1em;
  line-height: 1;
  margin: $unit 0;

  &:first-child { margin-top: 0; }
  &:last-child { margin-bottom: 0; }
}

hr {
  margin: ($unit * 2) 0;
  border: none;
  height: 1px;
  background: #000;
}

pre {
  // border: 1px solid;
  // border-width: 0 0 0 1px;
  // padding: 0 0 0 $unit;

  & > code {
    padding: 0;
    @include monospaceFont();
  }
}

#content { margin: $unit; }
