<!DOCTYPE html>
<html>
  <head>
    <title>Corrasable</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
